.row
  .col-md-8.col-md-offset-2
    %h1
      LIVES Viewer
      %small
        Simple Web App to explore LIVES data
.row
  .col-md-6.col-md-offset-3
    %p.lead
      Clone, deploy, import, explore.
    %p
      LIVES Viewer provides a way for any city (or citizens) using the LIVES
      standard for health department inspection scores to quickly deploy a
      site and allow citizens to visualize and explore business inspections
      and violations. With it you can quickly get your city's health
      department data live and accessible.

.row
  .col-md-4
    %h3
      Open Source
    %p
      Built by
      %a{href: 'http://openlexington.org/'} OpenLexington,
      a
      %a{href: 'http://brigade.codeforamerica.org/'} Code for America Brigade.
      As such it is open source, so feel free to use, modify, or even
      %a{href: 'https://github.com/openlexington/LIVES_viewer'} contribute!

  .col-md-4
    %h3
      Why?
    %p
      This was built to provide the public with better access to business
      inspection scores that wasn't just a piece of paper posted in a window.
      It also shows a business's inspection history.


  .col-md-4
    %h3
      Built for Open Data
    %p
      The LIVES Viewer was built for use with the open data standard
      %a{href: 'http://www.yelp.com/healthscores'}
        LIVES.
      It will only work with data in that standard.
