// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart{
  margin-top: 10px;
}

#map {
  height: 300px;
}

.latest-score-container{
  width: 100px;
  height: 100px;
  background-color: #ECECEC;
  margin-bottom: 15px;
}
.latest-score{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: inherit;
  height: inherit;
}
