// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart{
  margin-top: 10px;
}

#map {
  height: 300px;
}

.latest-score-container{
  background-color: #ECECEC;
  margin-bottom: 15px;
  max-width: 100px;
}
.latest-score{
  text-align: center;
  padding: .5em;
}
